.vs
bin
build
.vscode
.cache
DebugHelper
x86
x64
__pycache__
Xcode
arm64
x86_64
/CMakeLists.txt.user
cpp.hint
GraphicsComponent_QtExample/src/version.h
GraphicsComponent_QtExample/src/dependency.h
GraphicsComponent_QtExample/src/configure.h
inno_setup/package_conf
inno_setup/Output
.idea
cmake-build-debug
CMake-build
.DS_Store
build_vsc
vs_out
.out